@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');

/* Primary
Red: hsl(1, 90%, 64%)
Blue: hsl(219, 85%, 26%)
Neutral
White: hsl(0, 0%, 100%)
Very light grayish blue: hsl(210, 60%, 98%)
Light grayish blue 1: hsl(211, 68%, 94%)
Light grayish blue 2: hsl(205, 33%, 90%)
Grayish blue: hsl(219, 14%, 63%)
Dark grayish blue: hsl(219, 12%, 42%)
Very dark blue: hsl(224, 21%, 14%) */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --red: hsl(1, 90%, 64%);
    --blue: hsl(219, 85%, 26%);
    --neutral-white: hsl(0, 0%, 100%);
    --very-light-grayish-blue: hsl(210, 60%, 98%);
    --light-grayish-blue-1: hsl(211, 68%, 94%);
    --light-grayish-blue-2: hsl(205, 33%, 90%);
    --grayish-blue: hsl(219, 14%, 63%);
    --dark-grayish-blue: hsl(219, 12%, 42%);
    --very-dark-blue: hsl(224, 21%, 14%);
  }

body {
    font-family: 'Plus Jakarta Sans', sans-serif;;
    font-size: 16px;
    background-color: var(--main-bg);
    color: var(--very-dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(100vh - 0.1px);  
    padding: 1.25rem;
    width: auto;
  }

.container{
    width: 700px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px 0px;
    padding: 2rem;
    
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;
}

.header h2 span{
    display: inline-block;
    font-size: 16px;
    background-color: var(--blue);
    color: var(--neutral-white);
    border-radius: 6px;
    width: 2rem;
    height: 1.5rem;
    margin: auto;
    margin-left: 12px;
    margin-bottom: 4px;
    margin-top: 4px;
    padding: auto;
    padding-top: 2px;
    padding-bottom: 7px;
    text-align: center;
}

.notification{
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin: 6px;
    border-radius: 3px;
    margin-right: 0;
}

.notification:hover{
    cursor: pointer;
}

.notification img{
    width: 40px;
    height: 40px;
}

.notification div:first-child{
    display: flex;
    flex-direction: row;
}

.different{
    justify-content: space-between;
}

.content{
    padding-left: 1rem;
}

.content p span{
    font-weight: bold;
}

.active{
    background-color: var(--very-light-grayish-blue);
}

.paragraph{
    padding: 1rem;
    background-color: var(--light-grayish-blue-1);
    border-radius: 5px;
}

.imagen{
    width: auto;
    right: 0;
}

.post{
    color: var(--blue);
}

.post:hover{
    cursor: pointer;
}

.blue{
    margin-top: 1px;
    color: var(--grayish-blue);
    
}

.hello{
    margin-bottom: 10px;
}

.redpoint{
    display:inline-block;
    height:8px;
    width:8px;
    line-height:16px;
    text-align:center;
    font-size:0.1em;
    border-radius:50%;
    color:#fff;
    background:red;
      position: relative;
      
      left: 5px;
  }


@media screen and (max-width:650px){
    .container{
        width: 375px;
        font-size: 13px;
        padding: 1rem;
    }
    .header h2 span{
        margin-left: 3px
    }
}